
.chart--container {
    height: 40%;
    margin-bottom: 40px;
}

.chart--container .chart--box {
    position: relative;
    width: calc(100% - 40px);
    height: 100%;
}

@media (max-width: 1024px) {
    .chart--container {
        height: 200px;
    }
    .chart--container .chart--box {
        width: calc(100% + 40px);
        left: -40px;
    }
}
.recharts-cartesian-grid {
    background-color: red;
}
.chart--box .labels {
    position: absolute;
    color: white;
    width: calc(100% + 65px);
    height: 100%;
    left: -25px;
    bottom: -40px;
}
@media (max-width: 1024px) {
    .chart--box .labels {
        display: none;
    }
}
.chart--box .labels .info {
    height: 100%;
    width: 80px;
    transition: 0.5s;
    cursor: pointer;
}


.chart--box .labels .info .day {
    font-size: 1.8rem;
}

.chart--box .labels .info .temp {
    font-size: 2.25rem;
}

.chart--box .labels .info:nth-child(1) {
    opacity: 0.3;
}
.chart--box .labels .info:nth-child(2),
.chart--box .labels .info:nth-child(6) {
    opacity: 0.6;
}
.chart--box .labels .info:nth-child(3),
.chart--box .labels .info:nth-child(5) {
    opacity: 0.8;
}

.chart--box .labels .info.active {
    transform: scale(1.1);
}

.chart--box .labels .info:hover {
    opacity: 1;
}