.dang-rate{
  position: relative;
  border-radius: 0.85rem;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2.5s ease-in-out forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.dang-text {
  position: absolute;
  top: 35px;
  left: 148px;
  font-size: 0.86rem;
  background: white;
  padding: 0.55rem;
  border-radius: 0.5rem;
  opacity: 0;
  animation: appear .45s 1.05s cubic-bezier(0.5, 0, 0.5 ,1) forwards;
}

.dang-text::before {
  content: "";
  position: absolute;
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent transparent transparent white;
  left: 78px;
  top: 10px;
}

@keyframes appear {
  to {
    opacity: 1;
    left: 130px;
  }
}