
.sidebar {
    width: 20vw;
    max-width: 340px;
    height: 100%;
    padding: 40px 0px;
    background-color: rgba(255, 255, 255, 0.1);
    border-width: 0px;
    border-radius: 3.5rem;
    position: relative;
}

.sidebar::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.25), transparent);
    mask: 
        linear-gradient(#000 0 0) exclude, 
        linear-gradient(#000 0 0) content-box;
}

@media (max-width: 1024px) {
    .sidebar {
        width: 100%;
        background-color: transparent;
        -webkit-backdrop-filter: none;
        -moz-backdrop-filter: none;
        backdrop-filter: none;
        padding: 0;
        padding-top: 30px;
        max-width: 100%;
    }
    .sidebar::before {
        display: none;
    }
}

.sidebar h2 {
    color: white;
    font-family: "Encode Sans Condensed", serif;
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: -1px;
    position: relative;
    margin: auto;
    margin-bottom: 1.75em;
    width: fit-content;
}

.sidebar h2::before {
    content: "";
    width: calc(100% + 20px);
    height: 100px;
    bottom: -110px;
    left: -7px;
    position: absolute;
    border-width: 2.5px;
    border-style: solid;
    border-radius: 50%/10px 10px 0 0;
    border-color: transparent;
    border-top-color: rgba(255, 255, 255, 0.5);
}
.sidebar > div {
    padding: 0 20px;
}

@media (min-width: 767px) and (max-width: 1024px) {
    .sidebar {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    .sidebar > div {
        padding: 0;
    }
}

.sidebar .side-h {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.15rem;
    font-weight: 300;
    margin-bottom: 10px;
}
.status {
    height: 40%;
}

.status .screen {
    width: 100%;
    height: 65%;
    max-height: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 12px;
    border-radius: 25px;
}

@media(min-width: 767px) {
    .status .status-container {
        position: relative;
        height: 24vh;
        max-height: 220px;
        flex-direction: row;
        overflow: hidden;
    }
}

@media (min-width: 1024px) {
    .switch-status {
        transform: translateX(-110%);
    }
    
    .status .status-container > div {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 0.6s;
    }
}

.status .screen .info {
    color: white;
}

.status .screen .percentage {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 5px 10px;
    border-radius: 40px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 200;
}
.screen .dan-curve {
    height: calc(100% - 40px);
}
.screen .dan-parameter {
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    color: rgba(255, 255, 255, 0.15);
    letter-spacing: 1px;
    font-size: 1.5rem;
}

@media (max-width: 767px) {
    .status .screen {
        max-height: 100%;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .status .status-container {
        column-gap: 4%;
    }

    .status .screen {
        height: 100%;
    }
}

.status .more {
    color: white;
    font-size: 1.15rem;
    font-weight: 200;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid transparent;
    width: fit-content;
    transition: 0.3s;
}

.status .more:hover {
    border-bottom-color: white;
}

.sidebar .area {
    margin-top: 6%;
}

.area .especial-header {
    margin-bottom: 0;
}

.area .area-h .areas-state {
    list-style: none;
    color: white;
    column-gap: 0.5rem;
}

.areas-state .icon {
    cursor: pointer;
    width: 1.25rem;
}

.areas-state .active .icon {
    width: 1.625rem;
}

.area .slide {
    display: flex;
    justify-content: space-between;
    width: 650px;
    transition: 0.5s;
}

.slideArea {
    width: 100%;
    max-height: 240px;
    height: 32%;
    position: relative;
}

@media (max-width: 1024px) {
    .slideArea {
        height: 220px;
        width: calc(100% + 60px);
        left: -30px;
        margin-top: 20px;
    }
}

.slideArea .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSlide , img.active{
    display: block;
    margin: auto;
    width: calc(100% * 1.7);
    max-width: 150px;
    transition: 0.6s;
    opacity: 0.6;
}
img.active {
    width: calc(100% * 2.4);
    max-width: 220px;
    opacity: 1;
}

.contries {
    margin: auto;
    position: relative;
}

.contries p {
    width: 95%;
    text-align: center;
    color: white;
    padding: 1.5rem 2.25rem;
    font-size: 1rem;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.45);
    border: 1px solid;
    border-top-color: rgba(255, 255, 255, 0.1);
    border-left-color: rgba(255, 255, 255, 0.1);
    border-right-color: rgba(255, 255, 255, 0.05);
    border-bottom-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 1024px) {
    .contries p {
        background-color: transparent;
        -webkit-backdrop-filter: none;
        -moz-backdrop-filter: none;
        backdrop-filter: none;
        border: none;
        font-size: 1.23rem;
        opacity: 0.5;
        position: relative;
        margin-top: 10px;
        right: -5px;
        padding: 0;
    }
}