
.sidebar {
    width: 20vw;
    max-width: 340px;
    height: 100%;
    padding: 40px 0px;
    background-color: rgba(255, 255, 255, 0.1);
    border-width: 0px;
    border-radius: 3.5rem;
    position: relative;
}

.sidebar::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.25), transparent);
    mask: 
        linear-gradient(#000 0 0) exclude, 
        linear-gradient(#000 0 0) content-box;
}

.sidebar h2 {
    color: white;
    font-family: "Encode Sans Condensed", serif;
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: -1px;
    position: relative;
    margin: auto;
    margin-bottom: 1.75em;
    width: fit-content;
}

.sidebar h2::before {
    content: "";
    width: calc(100% + 20px);
    height: 100px;
    bottom: -110px;
    left: -7px;
    position: absolute;
    border-width: 2.5px;
    border-style: solid;
    border-radius: 50%/10px 10px 0 0;
    border-color: transparent;
    border-top-color: rgba(255, 255, 255, 0.5);
}
.sidebar > div {
    padding: 0 20px;
}
.sidebar .side-h {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.15rem;
    font-weight: 300;
    margin-bottom: 10px;
}
.status {
    height: 40%;
}

.status .screen {
    width: 100%;
    height: 65%;
    max-height: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 12px;
    border-radius: 25px;
}

.status .screen .info {
    color: white;
}

.status .screen .percentage {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 5px 10px;
    border-radius: 40px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 200;
}
.screen .dan-curve {
    height: calc(100% - 40px);
}
.screen .dan-parameter {
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    color: rgba(255, 255, 255, 0.15);
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.status .more {
    color: white;
    font-size: 1.15rem;
    font-weight: 200;
    text-decoration: none;
    border: 1px solid transparent;
    width: fit-content;
    transition: 0.3s;
}

.status .more:hover {
    border-bottom-color: white;
}

.sidebar .area {
    margin-top: 10%;
}

.area .area-h .areas-state {
    list-style: none;
    color: white;
    width: 25%;
}

.area .area-h .areas-state li svg {
    font-size: 1.25rem ;
    cursor: pointer;
}

.area .area-h .areas-state .active svg {
    font-size: 1.625rem;
}

.area .slide {
    display: flex;
    justify-content: space-between;
    width: 650px;
    transition: 0.5s;
}

.slideArea {
    width: 100%;
    max-height: 240px;
    height: 32%;
    position: relative;
}

.slideArea .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSlide , img.active{
    display: block;
    margin: auto;
    width: calc(100% * 1.7);
    max-width: 150px;
    transition: 0.6s;
    opacity: 0.6;
}
img.active {
    width: calc(100% * 2.4);
    max-width: 220px;
    opacity: 1;
}

.contries {
    margin: auto;
}

.contries p {
    width: 95%;
    text-align: center;
    color: white;
    padding: 1.5rem 2.25rem;
    font-size: 1rem;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.45);
    border: 1px solid;
    border-top-color: rgba(255, 255, 255, 0.1);
    border-left-color: rgba(255, 255, 255, 0.1);
    border-right-color: rgba(255, 255, 255, 0.05);
    border-bottom-color: rgba(255, 255, 255, 0.05);
}