@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-background: rgba(255, 255, 255, 0.15);
    --main-border-color: rgba(255, 255, 255, 0.486);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Mona Sans", serif;
    outline: none;
    border: none;
}


html {
    font-size: 10px;
}

body {
    background-image: url("https://images.pexels.com/photos/6317499/pexels-photo-6317499.jpeg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100dvh;
}

.container {
    position: relative;
    height: 100dvh;
    padding: 2.75vmax 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100dvw;
}

@media (min-width: 640px) {
    html {
        font-size: 6px;
    }
    .container {
        width: calc(100dvw - 85px);
    }
}

@media (min-width: 768px) {
    html {
        font-size: 8px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 8px;
    }
    .mobile-ds {
        display: none;
    }
}

@media (min-width: 1280px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 1536px) {
    html {
        font-size: 12px;
    }
}

.background-blur-8 {
    backdrop-filter: blur(0.55rem);
    -webkit-backdrop-filter: blur(0.55rem);
    -moz-backdrop-filter: blur(0.55rem);
}

.background-blur-3 {
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
    -moz-backdrop-filter: blur(0.25rem);
}

.arounded-40 {
    border-radius: 2.625rem; /* 3rem */
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-bet-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-auto-t15 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px; /* 1rem */
}

.border-w2 {
    border: 0.125rem solid var(--main-background);
}

.icon {
    width: 2rem;
}

.especial-header {
    font-size: 1.4rem;
    position: relative;
    width: fit-content;
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
}

.especial-header::before {
    content: "";
    width: calc(100% + 4px);
    height: 1px;
    position: absolute;
    bottom: -2px;
    left: -1px;
    background-color: white;
}

@media (max-width: 1024px) {
    .desktop-ds {
        display: none;
    }
}