#content {
    position: absolute;
    width: 75%;
    top: 10%;
    left: 25%;
    color: white;
}

#content p {
    justify-content: flex-start;
    column-gap: 0.85rem;
}

#content p span {
    color: #ccc
}

.content--info {
    display: flex;
    width: 100%;
    margin-top: 2.625rem;
}

.content--info .left-side {
    width: 70%;
}
.temp-info {
    font-weight: 200;
    column-gap: 1.625rem;
    justify-content: flex-start;
}

.temp-info .curr-temp {
    font-size: 5rem;
}

.temp-info .curr-temp-info {
    height: 60px;
}

.temp-info .curr-temp-info div {
    width: 100px;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 0.1rem 1rem;
    color: #aaa;
    font-weight: 400;
}
.temp-info .curr-temp-info div span {
    color: white;
}

.temp-desc h1 {
    font-weight: 500;
    font-size: 7.25rem;
    line-height: 7rem;
    margin-top: 4rem;
    mix-blend-mode: soft-light;
}

.right-side {
    width: 30%;
}
.right-side p {
    word-spacing: 0.1rem;
}

.searched--section {
    width: 100%;
}
.searched--section-header {
    margin-bottom: 1rem;
}
.searched--section-header h6 {
    color: #bbb;
    font-weight: 400;
    font-size: 1rem;
}

.searched--section-header button {
    background-color: transparent;
    color: white;
    position: relative;
    cursor: pointer;
}
.searched--section-header button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0%;
    background-color: white;
    transition: 0.3s;
}

.searched--section-header button:hover::before {
    width: 90%;
}

.searched--section-content {
    position: relative;
    column-gap: 1.625rem;
}
.searched--section-content .box {
    height: 140px;
    background-color: rgba(255, 255, 255, 0.02);
    padding: 1.5rem;
    cursor: pointer;
    flex-grow: 1;
    width: 50%;
    transition: 0.5s;
}

.searched--section-content .box:hover {
    flex-grow: 2;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
}

.searched--section-content .box .temp-info img {
    width: 65px;
}

.searched--section-content .box .temp-info span {
    font-size: 2.5rem;
}

.searched--section-content .box .location-info p {
    font-size: 1rem;
}
.searched--section-content .box .location-info span {
    color: #aaa;
    font-size: 0.85rem;
}