.overlay {
    /* background-blur-3 */
    position: absolute;
    width: 100%;
    height: 100%;
    /* animation: startPage 0.7s ease-in-out 0s 1 forwards; */
    /* background-color: transparent; */
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
}

.sec-container {
    display: flex;
    column-gap: 5%;
    margin-top: 22px;
    align-items: self-start;
    width: calc(100% + 10px);
    height: 95%;
}

.content-container {
    margin-top: 40px;
    width: 100%;
    height: calc(100% - 40px);
    justify-content: space-between;
}

@keyframes startPage {
    to {
    }
} 

.header {
    display: flex;
    position: absolute;
    right: 0px;
}

